{
    "dev_engine": {
        "options": ["Syzygy=/path/to/syzygy/tables", "Ponder=false"]
    },
    "base_engine": {
        "options": []
    },
    "tournament": {
        "rounds": 100,
        "concurrency": 8,
        "time_control": "tc=0/8+0.08 (NOTE: can also be st=0.3 for eg. 300ms / move)",
        "opening_book": "tests/books/8moves_v3.pgn",
        "opening_book_moves": 8,
        "resign_move_count": 3,
        "resign_score": 400,
        "draw_move_number": 40,
        "draw_move_count": 5,
        "draw_score": 0
    },
    "sprt": {
        "enabled": true,
        "elo_0_hypothesis": 0,
        "elo_1_hypothesis": 20,
        "alpha": 0.05,
        "beta": 0.05
    }
}

